body { 
    background-color: white;
    color: #414141;
    padding: 0px;
    margin: 0px;
}

#header { 
    background-color: #eeeeee;
    padding-left: 0px;
    margin-left: 0px;
    height: 40px;
}

#content {
    height: 90%;
    overflow: scroll;
    background-color: #eeeeee;
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
}

#header ul {
list-style-type: none;
margin-left: 0px;
margin: 0px;
padding-left: 10px;
text-decoration: underline;
}

#ratebox {
    width: 150px;
    background-color: #eeeeee;
    border: 1px solid black;
    float: right;
    padding-left: 10px;
    height: 40px;
}

#search {
    background-color: #eeeeee;
    border: 1px solid black;
    float: right;
    padding-left: 10px;
    height: 40px;
}

#pager {
    width: 150px;
    background-color: #eeeeee;
    border: 1px solid black;
    float: right;
    padding-left: 10px;
    height: 40px;
}

#heading {
    font-size: 1.5em;
    background-color: #dddddd;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}

table { 
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #888888;
    background-color: #eeeeee;
}

a {
    color: #414141;
    white-space: nowrap;
    text-decoration: none;
}

tr :hover {
    background-color: #777777;
}

.num { 
    text-align: right;
}

.full {
    width: 100%;
}

.cmd {
    color: red;
}

#jslogdiv {
  width: 900px;
  float: right;
}
