body { 
    background-color: black;
    color: white;
}

#header { 
    background-color: #888888;
}

#content {
    height: 400px;
    overflow: scroll;
    background-color: #555555;
}

#ratebox {
    width: 150px;
    background-color: #666666;
    border: 1px solid black;
    float: right;
}

#heading {
    font-size: 1.5em;
}
